@import '../core/colors.scss';
@import '../core/utils.scss';

.menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.menu_button {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  position: absolute;
}

.menu_button--down,
.menu_button--up {
  @include transition('border-color');

  background-color: $blue-dark;
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px 0;
  outline: none;

  &:hover {
    border-color: $grey;
  }
}

.menu_button--down {
  background-image: url("/assets/img/icon-down.svg");
  height: 60px;
  width: 60px;
}

.menu_button--up {
  background-image: url("/assets/img/icon-up.svg");
  height: 40px;
  width: 40px;
}

.menu_task {
  height: 100%;
  margin-bottom: 100px;
  position: relative;

  > ul {
    list-style: none;
    margin: 0;
    max-height: 100%;
    overflow: scroll;
    padding: 0;

    > li {
      background-color: $grey-light;
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 50%;
      box-sizing: border-box;
      height: 40px;
      margin-bottom: 2px;
      position: relative;
      text-align: center;
      width: 40px;

      &:after {
        background: $grey-light;
        content: '';
        height: 3px;
        position: absolute;
        top: 20px;
        width: 45px;
        z-index: -1;
      }

      &:nth-child(even) {
        margin-left: 20px;

        &:after {
          transform: rotate(120deg);
          transform-origin: 0px;
        }
      }

      &:nth-child(odd):after {
        transform: rotate(66deg);
        transform-origin: 0px;
      }

      &:nth-last-child(-n+2):after {
        content: none;
      }

      &:nth-last-child(1) {
        background-color: transparent;
        height: 60px;
      }
    }
  }
}

.menu_task--scroll {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
  height: 80px;
  position: absolute;
  bottom: 0;
  width: 60px;

  &:after {
    background: transparent url("/assets/img/icon-scroll.svg") center center no-repeat;
    content: '';
    height: 18px;
    position: absolute;
    top: 42px;
    transform: translateX(-50%);
    left: 50%;
    width: 18px;
  }
}

// set colors (overwrite default)
.menu_task--seen {
  background-color: $green!important;

  &:after {
    background: $green!important;
  }
}

.menu_task--seeing {
  background-color: $green-dark!important;

  &:after {
    background: $green-dark!important;
  }
}

.menu_task--pending {
  background-color: $orange!important;

  &:after {
    background: $orange!important;
  }
}

// set icons
.menu_task--circle {
  background-image: url("/assets/img/icon-circle.svg");

  &.menu_task--seen {
    background-image: url("/assets/img/icon-circle--seen.svg");
  }

  &.menu_task--seeing {
    background-image: url("/assets/img/icon-circle--seeing.svg");
  }

  &.menu_task--pending {
    background-image: url("/assets/img/icon-circle--pending.svg");
  }
}

.menu_task--flag {
  background-image: url("/assets/img/icon-flag.svg");

  &.menu_task--seen {
    background-image: url("/assets/img/icon-flag--seen.svg");
  }

  &.menu_task--seeing {
    background-image: url("/assets/img/icon-flag--seeing.svg");
  }

  &.menu_task--pending {
    background-image: url("/assets/img/icon-flag--pending.svg");
  }
}

.menu_task--star {
  background-image: url("/assets/img/icon-star.svg");

  &.menu_task--seen {
    background-image: url("/assets/img/icon-star--seen.svg");
  }

  &.menu_task--seeing {
    background-image: url("/assets/img/icon-star--seeing.svg");
  }

  &.menu_task--pending {
    background-image: url("/assets/img/icon-star--pending.svg");
  }
}

.menu_task--story {
  background-image: url("/assets/img/icon-story.svg");

  &.menu_task--seen {
    background-image: url("/assets/img/icon-story--seen.svg");
  }

  &.menu_task--seeing {
    background-image: url("/assets/img/icon-story--seeing.svg");
  }

  &.menu_task--pending {
    background-image: url("/assets/img/icon-story--pending.svg");
  }
}
