@import '../core/colors.scss';
@import '../core/utils.scss';

.menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  padding: 0 20px;

  button {
    @include transition('border-color');

    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid transparent;
    border-radius: 50px;
    cursor: pointer;
    outline: none;

    &:hover {
      border-color: $grey;
    }
  }
}

.menu_action {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  position: absolute;
}

.menu_action--down {
  background-color: $blue-dark;
  background-image: url("/assets/img/icon-down.svg");
  height: 60px;
  width: 60px;
}

.menu_action--scroll {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
  height: 80px;
  width: 60px;

  &:after {
    background: url("/assets/img/icon-scroll.svg") center center no-repeat;
    content: '';
    height: 60px;
    position: absolute;
    top: 50px;
    width: 60px;
  }
}

.menu_action--up {
  background-color: $blue-dark;
  background-image: url("/assets/img/icon-up.svg");
  height: 40px;
  margin: 10px 0;
  width: 40px;
}

.menu_task {
  background-color: $grey-light;
  background-image: url("/assets/img/icon-circle.svg");
  height: 40px;
  width: 40px;

  &.menu_task--flag {
    background-image: url("/assets/img/icon-flag.svg");
  }

  &.menu_task--star {
    background-image: url("/assets/img/icon-star.svg");
  }

  &.menu_task--story {
    background-image: url("/assets/img/icon-story.svg");
  }

  &:after {
    background-color: $grey-light;
    content: '';
    height: 3px;
    position: absolute;
    width: 45px;
    z-index: -1;
  }

  &:nth-last-of-type(1):after {
    content: none;
  }

  &:nth-of-type(even) {
    margin-left: 20px;

    &:after {
      transform: rotate(120deg);
      transform-origin: 0px;
    }
  }

  &:nth-of-type(odd):after {
    transform: rotate(60deg);
    transform-origin: 0px;
  }
}

.menu_task--seen {
  background-color: $green;
  background-image: url("/assets/img/icon-circle--seen.svg");

  &.menu_task--flag {
    background-image: url("/assets/img/icon-flag--seen.svg");
  }

  &.menu_task--star {
    background-image: url("/assets/img/icon-star--seen.svg");
  }

  &.menu_task--story {
    background-image: url("/assets/img/icon-story--seen.svg");
  }
}

.menu_task--seeing {
  background-color: $green-dark;
  background-image: url("/assets/img/icon-circle--seeing.svg");

  &.menu_task--flag {
    background-image: url("/assets/img/icon-flag--seeing.svg");
  }

  &.menu_task--star {
    background-image: url("/assets/img/icon-star--seeing.svg");
  }

  &.menu_task--story {
    background-image: url("/assets/img/icon-story--seeing.svg");
  }
}

.menu_task--pending {
  background-color: $orange;
  background-image: url("/assets/img/icon-circle--pending.svg");

  &.menu_task--flag {
    background-image: url("/assets/img/icon-flag--pending.svg");
  }

  &.menu_task--star {
    background-image: url("/assets/img/icon-star--pending.svg");
  }

  &.menu_task--story {
    background-image: url("/assets/img/icon-story--pending.svg");
  }
}
