@import '../core/colors.scss';
@import '../core/utils.scss';

$height: 40px;
$width-arrow: 10px;

.navigation {
  display: flex;
  height: $height;
  line-height: $height;
}

.navigation_button,
.navigation_tab {
  @include transition('border-color');

  background-color: $grey-light;
  border: 1px solid $grey;

  &:hover {
    border-color: $grey-dark;

    .navigation-tab_arrow {
      border-left-color: $grey-dark;
    }
  }
}

.navigation_button {
  cursor: pointer;
  outline: none;
  width: 40px;
}

.navigation_tab {
  border-width: 1px 0 1px 1px;
  box-sizing: border-box;
  display: flex;
  font-size: 14px;
  padding-left: 20px;
  text-decoration: none;
  width: 440px - $width-arrow;

  &:nth-last-of-type(2) {
    flex-grow: 1;
    width: unset;
  }

  &:nth-last-of-type(-n+2) {
    background-color: $white;
    border-right-width: 1px;
    width: 440px;

    .navigation-tab_arrow {
      display: none;
    }
  }
}

.navigation-tab_arrow {
  @include transition('border-color');

  border-bottom: ($height/2 - 1px) solid transparent;
  border-left: $width-arrow solid $grey;
  border-right: $width-arrow solid transparent;
  border-top: ($height/2 - 1px) solid transparent;
  height: 0px;
  position: relative;
  right: -($width-arrow * 2 + 1px);

  &:after {
    border-bottom: ($height/2 - 1px) solid transparent;
    border-left: $width-arrow solid $grey-light;
    border-right: $width-arrow solid transparent;
    border-top: ($height/2 - 1px) solid transparent;
    content: '';
    height: 0;
    left: -($width-arrow + 1px);
    position: absolute;
    top: -($height/2 - 1px);
  }
}

.navigation-tab_content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
