@import '../core/colors.scss';
@import '../core/dimensions.scss';
@import '../core/utils.scss';

$width-arrow: 10px;

.navigation {
  display: flex;
  height: $navigation-height;
  line-height: $navigation-height;
}

.navigation_button,
.navigation_tab {
  @include transition('border-color');

  background-color: $grey-light;
  border: 1px solid $grey;

  &:hover {
    border-color: $grey-dark;
  }

  &:hover + .navigation_tab {
    &:before {
      border-left-color: $grey-dark;
    }
  }
}

.navigation_button {
  cursor: pointer;
  outline: none;
  width: 40px;
}

.navigation_tab {
  border-width: 1px 0;
  box-sizing: border-box;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  padding-left: 20px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 440px - $width-arrow;

  &:nth-last-of-type(-n+2) {
    background-color: $white;
    border-right-width: 1px;
    width: 440px;
  }

  &:nth-last-of-type(2) {
    flex-grow: 1;
    width: unset;
  }

  &:before {
    @include transition('border-color');

    border-bottom: $navigation-height/2 solid transparent;
    border-left: $width-arrow solid $grey;
    border-right: $width-arrow solid transparent;
    border-top: $navigation-height/2 solid transparent;
    content: '';
    height: 0px;
    left: 0;
    position: absolute;
  }

  &:after {
    border-bottom: $navigation-height/2 solid transparent;
    border-left: $width-arrow solid $grey-light;
    border-right: $width-arrow solid transparent;
    border-top: $navigation-height/2 solid transparent;
    content: '';
    height: 0;
    left: -1px;
    position: absolute;
    top: 0;
  }

  &:first-of-type,
  &:last-of-type {
    &:after,
    &:before {
      content: none;
    }
  }
}
