@import '../core/colors.scss';
@import '../core/dimensions.scss';
@import '../core/utils.scss';

$width-arrow: 10px;

.nav {
  display: flex;
  height: $navigation-height;
  line-height: $navigation-height;
  width: 100%;
}

.nav_button,
.nav_tab {
  @include transition('border-color');

  background-color: $grey-light;
  border: 1px solid $grey;
  color: $grey-dark;
  position: relative;

  &:hover {
    border-color: $grey-dark;
  }

  &:hover + .nav_tab {
    &:before {
      border-left-color: $grey-dark;
    }
  }
}

.nav_button {
  cursor: pointer;
  min-width: 40px;
  outline: none;
}

.nav_tab {
  background: $grey-light;
  border-width: 1px 0;
  box-sizing: border-box;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  padding: 0 20px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 440px - $width-arrow;

  &:nth-last-of-type(-n+2) {
    background: $white;
    border-right-width: 1px;
    width: 440px;
  }

  &:nth-last-of-type(2) {
    flex-grow: 1;
  }

  &:before {
    @include transition('border-color');

    border-bottom: $navigation-height/2 solid transparent;
    border-left: $width-arrow solid $grey;
    border-right: $width-arrow solid transparent;
    border-top: $navigation-height/2 solid transparent;
    content: '';
    height: 0px;
    left: 0;
    position: absolute;
  }

  &:after {
    border-bottom: $navigation-height/2 solid transparent;
    border-left: $width-arrow solid $grey-light;
    border-right: $width-arrow solid transparent;
    border-top: $navigation-height/2 solid transparent;
    content: '';
    height: 0;
    left: -1px;
    position: absolute;
    top: 0;
  }

  &:first-of-type,
  &:last-of-type {
    &:after,
    &:before {
      content: none;
    }
  }
}

.nav-button_notifications {
  background-color: $blue-dark;
  border-radius: 50px;
  color: $white;
  font-size: 10px;
  height: 16px;
  line-height: 16px;
  position: absolute;
  right: 4px;
  top: 4px;
  width: 16px;
}
