@import './dimensions.scss';

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 0;
}

nav {
  position: absolute;
}

aside,
section {
  height: calc(100vh - #{$navigation-height} - 30px - 40px);
  margin-top: $navigation-height + 30px;
  margin-bottom: 40px;
}

section {
  flex-grow: 1;
}
