// VIEWPORTS
@mixin small-viewport {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

// TRANSITION
@mixin transition($properties...) {
  $result: '';

  @for $idx from 1 through length($properties) {
    $result: "#{$result}#{if($idx == 1, '', ', ')}#{nth($properties, $idx)} .3s ease-out";
  }

  transition: unquote($result);
}
