/* line 3, src/assets/scss/layout/layout.scss */
.layout {
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: row;
  padding: 30px 0 40px 20px;
  box-sizing: border-box; }

/* line 11, src/assets/scss/layout/layout.scss */
.layout_menu {
  width: 100px; }

/* line 15, src/assets/scss/layout/layout.scss */
.layout_content {
  flex-grow: 1;
  position: relative; }
nt h1 {
    font-size: 30px;
    margin-top: 0; }

/* line 22, src/assets/scss/information/information.scss */
.information_figure {
  background: url("/assets/img/background.jpg");
  background-clip: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; }

/* line 30, src/assets/scss/information/information.scss */
.information_disclaimer {
  display: table;
  font-size: 14px;
  text-align: right;
  width: 100%; }

/* line 3, src/assets/scss/layout/layout.scss */
.layout {
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: row;
  padding: 30px 0 40px 20px;
  box-sizing: border-box; }

/* line 11, src/assets/scss/layout/layout.scss */
.layout_menu {
  width: 100px; }

/* line 15, src/assets/scss/layout/layout.scss */
.layout_content {
  flex-grow: 1;
  position: relative; }

/* line 7, src/assets/scss/navigation/navigation.scss */
.navigation {
  display: flex;
  height: 40px;
  line-height: 40px; }

/* line 13, src/assets/scss/navigation/navigation.scss */
.navigation_button,
.navigation_tab {
  transition: border-color .3s ease-out;
  background-color: #eeeeee;
  border: 1px solid #bbbbbb; }
  /* line 20, src/assets/scss/navigation/navigation.scss */
  .navigation_button:hover,
  .navigation_tab:hover {
    border-color: #777777; }
  /* line 25, src/assets/scss/navigation/navigation.scss */
  .navigation_button:hover + .navigation_tab:before,
  .navigation_tab:hover + .navigation_tab:before {
    border-left-color: #777777; }

/* line 31, src/assets/scss/navigation/navigation.scss */
.navigation_button {
  cursor: pointer;
  outline: none;
  width: 40px; }

/* line 37, src/assets/scss/navigation/navigation.scss */
.navigation_tab {
  border-width: 1px 0;
  box-sizing: border-box;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  padding-left: 20px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 430px; }
  /* line 49, src/assets/scss/navigation/navigation.scss */
  .navigation_tab:nth-last-of-type(-n+2) {
    background-color: white;
    border-right-width: 1px;
    width: 440px; }
  /* line 55, src/assets/scss/navigation/navigation.scss */
  .navigation_tab:nth-last-of-type(2) {
    flex-grow: 1;
    width: unset; }
  /* line 60, src/assets/scss/navigation/navigation.scss */
  .navigation_tab:before {
    transition: border-color .3s ease-out;
    border-bottom: 20px solid transparent;
    border-left: 10px solid #bbbbbb;
    border-right: 10px solid transparent;
    border-top: 20px solid transparent;
    content: '';
    height: 0px;
    left: 0;
    position: absolute; }
  /* line 73, src/assets/scss/navigation/navigation.scss */
  .navigation_tab:after {
    border-bottom: 20px solid transparent;
    border-left: 10px solid #eeeeee;
    border-right: 10px solid transparent;
    border-top: 20px solid transparent;
    content: '';
    height: 0;
    left: -1px;
    position: absolute;
    top: 0; }
  /* line 87, src/assets/scss/navigation/navigation.scss */
  .navigation_tab:first-of-type:after, .navigation_tab:first-of-type:before, .navigation_tab:last-of-type:after, .navigation_tab:last-of-type:before {
    content: none; }

/* line 5, src/assets/scss/index.scss */
body {
  margin: 0; }
