/* line 3, src/assets/scss/core/layout.scss */
body {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 0; }

/* line 10, src/assets/scss/core/layout.scss */
nav {
  position: absolute; }

/* line 14, src/assets/scss/core/layout.scss */
aside,
section {
  height: calc(100vh - 40px - 30px - 40px);
  margin-top: 70px;
  margin-bottom: 40px; }

/* line 21, src/assets/scss/core/layout.scss */
section {
  flex-grow: 1; }

/* line 3, src/assets/scss/information/information.scss */
.information {
  padding-left: 20px;
  position: relative; }

/* line 8, src/assets/scss/information/information.scss */
.information_content {
  background-color: #0082c5;
  border-radius: 30px;
  bottom: 0;
  box-sizing: border-box;
  color: white;
  font-size: 18px;
  margin: 60px;
  opacity: 0.9;
  padding: 40px;
  position: absolute;
  width: 480px; }
  /* line 21, src/assets/scss/information/information.scss */
  .information_content h1 {
    font-size: 30px;
    margin-top: 0; }

/* line 27, src/assets/scss/information/information.scss */
.information_figure {
  background: url("/assets/img/background.jpg");
  background-clip: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; }

/* line 35, src/assets/scss/information/information.scss */
.information_disclaimer {
  display: table;
  font-size: 14px;
  text-align: right;
  width: 100%; }

/* line 4, src/assets/scss/menu/menu.scss */
.menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 20px; }

/* line 11, src/assets/scss/menu/menu.scss */
.menu_button {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  position: absolute; }

/* line 20, src/assets/scss/menu/menu.scss */
.menu_button--down,
.menu_button--up {
  transition: border-color .3s ease-out;
  background-color: #1681c1;
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px 0;
  outline: none; }
  /* line 33, src/assets/scss/menu/menu.scss */
  .menu_button--down:hover,
  .menu_button--up:hover {
    border-color: #bbbbbb; }

/* line 38, src/assets/scss/menu/menu.scss */
.menu_button--down {
  background-image: url("/assets/img/icon-down.svg");
  height: 60px;
  width: 60px; }

/* line 44, src/assets/scss/menu/menu.scss */
.menu_button--up {
  background-image: url("/assets/img/icon-up.svg");
  height: 40px;
  width: 40px; }

/* line 50, src/assets/scss/menu/menu.scss */
.menu_task {
  height: 100%;
  margin-bottom: 100px;
  position: relative; }
  /* line 55, src/assets/scss/menu/menu.scss */
  .menu_task > ul {
    list-style: none;
    margin: 0;
    max-height: 100%;
    overflow: scroll;
    padding: 0; }
    /* line 62, src/assets/scss/menu/menu.scss */
    .menu_task > ul > li {
      background-color: #eeeeee;
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 50%;
      box-sizing: border-box;
      height: 40px;
      position: relative;
      text-align: center;
      width: 40px; }
      /* line 73, src/assets/scss/menu/menu.scss */
      .menu_task > ul > li:after {
        background: #eeeeee;
        content: '';
        height: 3px;
        position: absolute;
        top: 20px;
        width: 45px;
        z-index: -1; }
      /* line 83, src/assets/scss/menu/menu.scss */
      .menu_task > ul > li:nth-child(even) {
        margin-left: 20px; }
        /* line 86, src/assets/scss/menu/menu.scss */
        .menu_task > ul > li:nth-child(even):after {
          transform: rotate(120deg);
          transform-origin: 0px; }
      /* line 92, src/assets/scss/menu/menu.scss */
      .menu_task > ul > li:nth-child(odd):after {
        transform: rotate(66deg);
        transform-origin: 0px; }
      /* line 97, src/assets/scss/menu/menu.scss */
      .menu_task > ul > li:nth-last-child(-n+2):after {
        content: none; }
      /* line 101, src/assets/scss/menu/menu.scss */
      .menu_task > ul > li:nth-last-child(1) {
        background-color: transparent;
        height: 60px; }

/* line 109, src/assets/scss/menu/menu.scss */
.menu_task--scroll {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
  height: 80px;
  position: absolute;
  bottom: 0;
  width: 60px; }
  /* line 116, src/assets/scss/menu/menu.scss */
  .menu_task--scroll:after {
    background: transparent url("/assets/img/icon-scroll.svg") center center no-repeat;
    content: '';
    height: 18px;
    position: absolute;
    top: 42px;
    transform: translateX(-50%);
    left: 50%;
    width: 18px; }

/* line 129, src/assets/scss/menu/menu.scss */
.menu_task--seen {
  background-color: #78af45 !important; }
  /* line 132, src/assets/scss/menu/menu.scss */
  .menu_task--seen:after {
    background: #78af45 !important; }

/* line 137, src/assets/scss/menu/menu.scss */
.menu_task--seeing {
  background-color: #4c6f2c !important; }
  /* line 140, src/assets/scss/menu/menu.scss */
  .menu_task--seeing:after {
    background: #4c6f2c !important; }

/* line 145, src/assets/scss/menu/menu.scss */
.menu_task--pending {
  background-color: #ecab41 !important; }
  /* line 148, src/assets/scss/menu/menu.scss */
  .menu_task--pending:after {
    background: #ecab41 !important; }

/* line 154, src/assets/scss/menu/menu.scss */
.menu_task--circle {
  background-image: url("/assets/img/icon-circle.svg"); }
  /* line 157, src/assets/scss/menu/menu.scss */
  .menu_task--circle.menu_task--seen {
    background-image: url("/assets/img/icon-circle--seen.svg"); }
  /* line 161, src/assets/scss/menu/menu.scss */
  .menu_task--circle.menu_task--seeing {
    background-image: url("/assets/img/icon-circle--seeing.svg"); }
  /* line 165, src/assets/scss/menu/menu.scss */
  .menu_task--circle.menu_task--pending {
    background-image: url("/assets/img/icon-circle--pending.svg"); }

/* line 170, src/assets/scss/menu/menu.scss */
.menu_task--flag {
  background-image: url("/assets/img/icon-flag.svg"); }
  /* line 173, src/assets/scss/menu/menu.scss */
  .menu_task--flag.menu_task--seen {
    background-image: url("/assets/img/icon-flag--seen.svg"); }
  /* line 177, src/assets/scss/menu/menu.scss */
  .menu_task--flag.menu_task--seeing {
    background-image: url("/assets/img/icon-flag--seeing.svg"); }
  /* line 181, src/assets/scss/menu/menu.scss */
  .menu_task--flag.menu_task--pending {
    background-image: url("/assets/img/icon-flag--pending.svg"); }

/* line 186, src/assets/scss/menu/menu.scss */
.menu_task--star {
  background-image: url("/assets/img/icon-star.svg"); }
  /* line 189, src/assets/scss/menu/menu.scss */
  .menu_task--star.menu_task--seen {
    background-image: url("/assets/img/icon-star--seen.svg"); }
  /* line 193, src/assets/scss/menu/menu.scss */
  .menu_task--star.menu_task--seeing {
    background-image: url("/assets/img/icon-star--seeing.svg"); }
  /* line 197, src/assets/scss/menu/menu.scss */
  .menu_task--star.menu_task--pending {
    background-image: url("/assets/img/icon-star--pending.svg"); }

/* line 202, src/assets/scss/menu/menu.scss */
.menu_task--story {
  background-image: url("/assets/img/icon-story.svg"); }
  /* line 205, src/assets/scss/menu/menu.scss */
  .menu_task--story.menu_task--seen {
    background-image: url("/assets/img/icon-story--seen.svg"); }
  /* line 209, src/assets/scss/menu/menu.scss */
  .menu_task--story.menu_task--seeing {
    background-image: url("/assets/img/icon-story--seeing.svg"); }
  /* line 213, src/assets/scss/menu/menu.scss */
  .menu_task--story.menu_task--pending {
    background-image: url("/assets/img/icon-story--pending.svg"); }

/* line 7, src/assets/scss/navigation/navigation.scss */
.nav {
  display: flex;
  height: 40px;
  line-height: 40px;
  width: 100%; }

/* line 14, src/assets/scss/navigation/navigation.scss */
.nav_button,
.nav_tab {
  transition: border-color .3s ease-out;
  background-color: #eeeeee;
  border: 1px solid #bbbbbb;
  color: #777777;
  position: relative; }
  /* line 23, src/assets/scss/navigation/navigation.scss */
  .nav_button:hover,
  .nav_tab:hover {
    border-color: #777777; }
  /* line 28, src/assets/scss/navigation/navigation.scss */
  .nav_button:hover + .nav_tab:before,
  .nav_tab:hover + .nav_tab:before {
    border-left-color: #777777; }

/* line 34, src/assets/scss/navigation/navigation.scss */
.nav_button {
  cursor: pointer;
  min-width: 40px;
  outline: none; }

/* line 40, src/assets/scss/navigation/navigation.scss */
.nav_tab {
  background: #eeeeee;
  border-width: 1px 0;
  box-sizing: border-box;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  padding: 0 20px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 430px; }
  /* line 53, src/assets/scss/navigation/navigation.scss */
  .nav_tab:nth-last-of-type(-n+2) {
    background: white;
    border-right-width: 1px;
    width: 440px; }
  /* line 59, src/assets/scss/navigation/navigation.scss */
  .nav_tab:nth-last-of-type(2) {
    flex-grow: 1; }
  /* line 63, src/assets/scss/navigation/navigation.scss */
  .nav_tab:before {
    transition: border-color .3s ease-out;
    border-bottom: 20px solid transparent;
    border-left: 10px solid #bbbbbb;
    border-right: 10px solid transparent;
    border-top: 20px solid transparent;
    content: '';
    height: 0px;
    left: 0;
    position: absolute; }
  /* line 76, src/assets/scss/navigation/navigation.scss */
  .nav_tab:after {
    border-bottom: 20px solid transparent;
    border-left: 10px solid #eeeeee;
    border-right: 10px solid transparent;
    border-top: 20px solid transparent;
    content: '';
    height: 0;
    left: -1px;
    position: absolute;
    top: 0; }
  /* line 90, src/assets/scss/navigation/navigation.scss */
  .nav_tab:first-of-type:after, .nav_tab:first-of-type:before, .nav_tab:last-of-type:after, .nav_tab:last-of-type:before {
    content: none; }

/* line 97, src/assets/scss/navigation/navigation.scss */
.nav-button_notifications {
  background-color: #1681c1;
  border-radius: 50px;
  color: white;
  font-size: 10px;
  height: 16px;
  line-height: 16px;
  position: absolute;
  right: 4px;
  top: 4px;
  width: 16px; }
